title = "CryptoPolice"
url = "/academy"
layout = "academy"
is_hidden = 0
[session]
security = "user"
redirect = "login"
==

<div class="content">
    <div class="content__inner">
       <div class="content__header">
            <img src="{{'assets/images/cryptopolice-academy-logo.png'|theme }}" alt="CryptoPolice Academy">
            <h1 class="content__title">Welcome to CryptoPolice Academy</h1>
            <div class="content__text">
                <p>The Academy is the core of the CryptoPolice platform’s Officer training process. At the moment the Academy is filled with demo materials for you to get acquainted with the CryptoPolice platform's training system.</p>
            </div>
        </div>
        <div class="choose">
            <div class="choose__item">
                <img src="{{'assets/images/training-ico.png'|theme }}" alt="CryptoPolice Officers training ">
                <div class="choose__content">
                    <h3 class="choose__title">Training</h3>
                    <div class="chooset__text">
                        <p>Power up your skills and gain knowledge on the topics, that will help you to fight scams. </p>
                    </div>
                    <a class="btn" href="{{'trainings'|page}} ">START YOUR TRAINING</a>
                </div>
            </div>
            <div class="choose__item">
                <img src="{{'assets/images/exam-ico.png'|theme}}" alt="CryptoPolice Officers examination">
                <div class="choose__content">
                    <h3 class="choose__title">examination</h3>
                    <div class="chooset__text">
                        <p>Test your skills and receive CryptoPolice Officer certificate! </p>
                    </div>
                    <a class="btn" href="{{'exam'|page}}">TO EXAMINATION</a>
                </div>
            </div>
        </div><!-- /.choose -->
    </div><!-- /.content__inner -->
</div>