title = "Bounty Campaign"
url = "/bounty-campaign/:id?/:slug?"
layout = "platform"
is_hidden = 0

[Bounties]
[UsersCampaign]

[session]
security = "user"
redirect = "login"

==
<!-- Content -->
<main class="content">
    <div class="content__inner">
        <div class="content__left">

            {% partial UsersCampaign ~ '::bounty-bar' %}

            <div class="profile">

                {% partial UsersCampaign ~ '::bounty-profile' %}

                <div class="profile__content">

                    {% partial UsersCampaign ~ '::main-menu' %}
                    
                    {% component 'Bounties' %}

                </div>

            </div>
        </div>
    </div>
</main>