title = "Bounty Report"
url = "/bounty-report/:id"
layout = "platform"
description = "Bounty Report Page"
is_hidden = 0

[ReportDetails]
==
<main class="content">
    <div class="content__inner">
        <div class="content__left">
            <div class="grid__row">

                {% component 'ReportDetails' %}
            
            </div><!-- /.grid__row -->
        </div><!-- /.content__left -->
    </div>
</main>