title = "CryptoPolice"
url = "/community"
layout = "platform"
is_hidden = 0

[session]
security = "user"
redirect = "login"
==

==
<!-- Content -->
<main class="content">
    <div class="content__inner">

        <div class="content__header">
            <div class="select  select--filter">
                <select name="">
                    <option value="" selected>All</option>
                    <option value="">option</option>
                    <option value="">option</option>
                    <option value="">option</option>
                </select>
            </div>
            <div class="select  select--filter">
                <select name="">
                    <option value="" selected>Type</option>
                    <option value="">option</option>
                    <option value="">option</option>
                    <option value="">option</option>
                </select>
            </div>
            <div class="select  select--filter">
                <select name="">
                    <option value="" selected>Date</option>
                    <option value="">option</option>
                    <option value="">option</option>
                    <option value="">option</option>
                </select>
            </div>
            <div class="select  select--filter">
                <select name="">
                    <option value="" selected>Status</option>
                    <option value="">option</option>
                    <option value="">option</option>
                    <option value="">option</option>
                </select>
            </div>
            <div class="select  select--filter">
                <select name="">
                    <option value="" selected>Risk level</option>
                    <option value="">option</option>
                    <option value="">option</option>
                    <option value="">option</option>
                </select>
            </div>
        </div>

        <div class="content__left">
            <div class="grid__row">
                <div class="grid__col  w3">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__date">18:15 16.20.2018</div>
                            <h3 class="card__title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h3>
                            <span class="mark  mark--gray">ICO scams</span>
                        </div>

                        <div class="card__content">Detect new mirror scam. ICO invest netis mirror. project owners
                            approved it. Loripsum dolor sit amet, consectetur adipiscing elit. Proin et tincidunt dui
                            praesent.
                        </div>

                        <div class="card__footer">
                            <div class="card__footer-left">
                                <ul class="card__ava-list">
                                    <li class="card__ava  card__ava--author">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card__footer-right">
                                <ul class="card__social">
                                    <li class="card__social-item  c-share">
                                        <a href="#">share</a>
                                    </li>
                                    <li class="card__social-item  c-comment">
                                        <a href="#">comment</a>
                                    </li>
                                    <li class="card__social-item  c-follow">
                                        <a href="#">follow</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- NOTE: classes: low, medium, high -->
                        <div class="card__status  low">low</div>
                    </div>
                </div>

                <div class="grid__col  w3">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__date">18:15 16.20.2018</div>
                            <h3 class="card__title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h3>
                            <span class="mark  mark--gray">ICO scams</span>
                        </div>

                        <div class="card__content">Detect new mirror scam. ICO invest netis mirror. project owners
                            approved it. Loripsum dolor sit amet, consectetur adipiscing elit. Proin et tincidunt dui
                            praesent.
                        </div>

                        <div class="card__footer">
                            <div class="card__footer-left">
                                <ul class="card__ava-list">
                                    <li class="card__ava  card__ava--author">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card__footer-right">
                                <ul class="card__social">
                                    <li class="card__social-item  c-share">
                                        <a href="#">share</a>
                                    </li>
                                    <li class="card__social-item  c-comment">
                                        <a href="#">comment</a>
                                    </li>
                                    <li class="card__social-item  c-follow">
                                        <a href="#">follow</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- NOTE: classes: low, medium, high -->
                        <div class="card__status  low">low</div>
                    </div>
                </div>

                <div class="grid__col  w3">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__date">18:15 16.20.2018</div>
                            <h3 class="card__title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h3>
                            <span class="mark  mark--gray">ICO scams</span>
                        </div>

                        <div class="card__content">Detect new mirror scam. ICO invest netis mirror. project owners
                            approved it. Loripsum dolor sit amet, consectetur adipiscing elit. Proin et tincidunt dui
                            praesent.
                        </div>

                        <div class="card__footer">
                            <div class="card__footer-left">
                                <ul class="card__ava-list">
                                    <li class="card__ava  card__ava--author">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card__footer-right">
                                <ul class="card__social">
                                    <li class="card__social-item  c-share">
                                        <a href="#">share</a>
                                    </li>
                                    <li class="card__social-item  c-comment">
                                        <a href="#">comment</a>
                                    </li>
                                    <li class="card__social-item  c-follow">
                                        <a href="#">follow</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- NOTE: classes: low, medium, high -->
                        <div class="card__status  low">low</div>
                    </div>
                </div>

                <div class="grid__col  w3">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__date">18:15 16.20.2018</div>
                            <h3 class="card__title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h3>
                            <span class="mark  mark--gray">ICO scams</span>
                        </div>

                        <div class="card__content">Detect new mirror scam. ICO invest netis mirror. project owners
                            approved it. Loripsum dolor sit amet, consectetur adipiscing elit. Proin et tincidunt dui
                            praesent.
                        </div>

                        <div class="card__footer">
                            <div class="card__footer-left">
                                <ul class="card__ava-list">
                                    <li class="card__ava  card__ava--author">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card__footer-right">
                                <ul class="card__social">
                                    <li class="card__social-item  c-share">
                                        <a href="#">share</a>
                                    </li>
                                    <li class="card__social-item  c-comment">
                                         <a href="#">comment</a>
                                    </li>
                                    <li class="card__social-item  c-follow">
                                        <a href="#">follow</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- NOTE: classes: low, medium, high -->
                        <div class="card__status  low">low</div>
                    </div>
                </div>

                <div class="grid__col  w3">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__date">18:15 16.20.2018</div>
                            <h3 class="card__title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h3>
                            <span class="mark  mark--gray">ICO scams</span>
                        </div>

                        <div class="card__content">Detect new mirror scam. ICO invest netis mirror. project owners
                            approved it. Loripsum dolor sit amet, consectetur adipiscing elit. Proin et tincidunt dui
                            praesent.
                        </div>

                        <div class="card__footer">
                            <div class="card__footer-left">
                                <ul class="card__ava-list">
                                    <li class="card__ava  card__ava--author">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card__footer-right">
                                <ul class="card__social">
                                    <li class="card__social-item  c-share">
                                        <a href="#">share</a>
                                    </li>
                                    <li class="card__social-item  c-comment">
                                        <a href="#">comment</a>
                                    </li>
                                    <li class="card__social-item  c-follow">
                                        <a href="#">follow</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- NOTE: classes: low, medium, high -->
                        <div class="card__status  low">low</div>
                    </div>
                </div>

                <div class="grid__col  w3">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__date">18:15 16.20.2018</div>
                            <h3 class="card__title">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                            </h3>
                            <span class="mark  mark--gray">ICO scams</span>
                        </div>

                        <div class="card__content">Detect new mirror scam. ICO invest netis mirror. project owners
                            approved it. Loripsum dolor sit amet, consectetur adipiscing elit. Proin et tincidunt dui
                            praesent.
                        </div>

                        <div class="card__footer">
                            <div class="card__footer-left">
                                <ul class="card__ava-list">
                                    <li class="card__ava  card__ava--author">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                    <li class="card__ava">
                                        <a href="#">
                                            <img src="http://placehold.it/23" width="23" height="23" alt="Author">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card__footer-right">
                                <ul class="card__social">
                                    <li class="card__social-item  c-share">
                                        <a href="#">share</a>
                                    </li>
                                    <li class="card__social-item  c-comment">
                                        <a href="#">comment</a>
                                    </li>
                                    <li class="card__social-item  c-follow">
                                        <a href="#">follow</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- NOTE: classes: low, medium, high -->
                        <div class="card__status  low">low</div>
                    </div>
                </div>
            </div><!-- /.grid__row -->
        </div><!-- /.content__left -->
    </div>
</main>