title = "Exam Task"
url = "/exam-task/:slug"
layout = "academy"
is_hidden = 0

[ExamTask]
[session]
security = "user"
redirect = "login"
==
<div class="content">
    <div class="content__inner">
        <div class="exam">
            <div class="exam__inner">
                {% component 'ExamTask' %}
            </div>
        </div>
    </div>
</div>