title = "Exams"
url = "/exam"
layout = "academy"
is_hidden = 0

[Exams]
max = 10

[session]
security = "user"
redirect = "login"
==
<div class="content">
    <div class="content__inner">
        <div class="content__header">
            <h1 class="content__title">CryptoPolice exam</h1>
            <div class="content__text">
                <p>Test your skills and receive CryptoPolice Officer certificate
                   <br> NB! At the moment the Academy is filled with demo materials for you to get acquainted with the CryptoPolice platform's training system.</p>
            </div>
        </div>

        {% component 'Exams' %}

    </div>
</div>