title = "Forgot Password"
url = "/forgot-password"
layout = "academy"
is_hidden = 0

[resetPassword userPasswordReset]
paramCode = "code"
==

<div class="content">
    <div class="content__inner">
        {% component 'userPasswordReset' %}
    </div>
</div>
