title = "CryptoPolice"
url = "/"
layout = "academy"
is_hidden = 0

==

<div class="content">
    <div class="content__inner2">
       <div class="content__header">
           <img src="{{'assets/images/cryptopolice-logo-white.png'|theme}}" width="261" height="120" alt="CryptoPolice">
            <h1 class="content__title">Welcome to CryptoPolice</h1>
            <div class="content__text">
                <p>CryptoPolice is first community based cryptocurrency police platform on blockchain technology.
                    Mission of CryptoPolice is provide safety in the market of cryptocurrencies by uniting society and technologies.</p>
            </div>
        </div>
        <div class="choose2">
            <div class="choose__item3">
                <img src="{{'assets/images/token-sale.png'|theme }}" alt="CryptoPolice Officers training ">
                <div class="choose__content">
                    <h3 class="choose__title">Token Sale</h3>
                    <div class="chooset__text">
                        <p>Get Officer Coin tokens. Support CryptoPolice project by contributing in our crowdsale.</p>
                    </div>
                    <a class="btn" href="{{'token-sale'|page}} ">Contribute</a>
                </div>
            </div>
            <div class="choose__item3">
                <img src="{{'assets/images/exam-ico.png'|theme}}" alt="CryptoPolice Academy">
                <div class="choose__content">
                    <h3 class="choose__title">Academy</h3>
                    <div class="chooset__text">
                        <p>Power up and test your skills. Pass certification and receive CryptoPolice Officer certificate.</p>
                    </div>
                    <a class="btn" href="{{'academy'|page}}">START TRAINING</a>
                </div>
            </div>
            <div class="choose__item3">
                <img src="{{'assets/images/scam-alert.png'|theme}}" alt="CryptoPolice Officers examination">
                <div class="choose__content">
                    <h3 class="choose__title">Scam alert</h3>
                    <div class="chooset__text">
                        <p>Notify us about latest SCAM issues (или activities). Help us create the first CryptoPolice scam list. </p>
                    </div>
                    <a class="btn" href="#submit-scam">Submit scam</a>
                </div>
            </div>

        </div><!-- /.choose -->

        <div class="choose2">
            <div class="choose__item3">
                <img src="{{'assets/images/bounty-compaign.png'|theme }}" alt="CryptoPolice Bounty campaign ">
                <div class="choose__content">
                    <h3 class="choose__title">Bounty campaign</h3>
                    <div class="chooset__text">
                        <p>Participate in CryptoPolice bounty campaign. Bring your contribution to CryptoPolice and receive bounty tokens for your involvement.</p>
                    </div>
                    <a class="btn" href="{{'bounty-campaign'|page}} ">Participate</a>
                </div>
            </div>
            <div class="choose__item3">
                <img src="{{'assets/images/community-section.png'|theme}}" alt="CryptoPolice Officers examination">
                <div class="choose__content">
                    <h3 class="choose__title">Community section</h3>
                    <div class="chooset__text">
                        <p>Become a member of CryptoPolice community. Get exclusive information and participate in the development process.</p>
                    </div>
                    <a class="btn" href="{{'exam'|page}}">Engagement</a>
                </div>
            </div>
            <div class="choose__item3">
                <img src="{{'assets/images/blog-section.png'|theme}}" alt="CryptoPolice Officers examination">
                <div class="choose__content">
                    <h3 class="choose__title">Our blog</h3>
                    <div class="chooset__text">
                        <p>Read more about CryptoPolice project in our official blog. Get official information and do not miss any CryptoPolice announcements.</p>
                    </div>
                    <a class="btn" href="https://medium.com/cryptopolice" target="_blank">Read blog</a>
                </div>
            </div>

        </div><!-- /.choose -->
    </div><!-- /.content__inner -->
</div>