title = "Login"
url = "/login"
layout = "academy"
is_hidden = 0

[reCaptcha]
[account userLogin]
paramCode = "code"
forceSecure = 0
==
<?php

    function onStart() {
        // TODO::
        $this['active']  = get('activate');

        if(Auth::check()) {
           return Redirect::to('/academy');
        }
    }

?>
==

<div class="content">
    <div class="content__inner">
        <div class="content__header">
            <img src="{{'assets/images/cryptopolice-logo-white.png'|theme}}" width="261" height="120" alt="CryptoPolice">

            <h1 class="content__title">Early bird Officer registration is now open!</h1>
            <div class="content__text">
                <p>
                    We have launched the first demo version of the CryptoPolice Academy! The team has done an
                    outstanding job in order to show its combat readiness in the early stages of the project. The
                    Academy is the core of the CryptoPolice platform’s Officer training process. At the moment the
                    Academy is filled with demo materials for you to get acquainted with the CryptoPolice platform's
                    training system.
                </p>
            </div>
        </div>
        {% if not user %}
            {% component 'userLogin' %}
        {% elseif active is not empty %}
        <div class="content__title">
            Congratulations! You have successfully activated
        </div>
        <!-- TODO: change to main page -->
        <a class="btn" href="{{'profile'|page}}">START WITH YOUR PROFILE</a>
        {% endif %}

    </div>
</div>