title = "Not Found"
url = "/404"
layout = "academy"
is_hidden = 0
==
<div class="content">
    <div class="content__inner">
        <div class="content__header">
            <h2 class="error__title">Page Not Found</h2>
        </div>
    </div>
</div>