title = "Profile"
url = "/profile"
layout = "platform"
is_hidden = 0

[reCaptcha]

[ProfileForm]

[session]
security = "user"
redirect = "login"

[imageUploader]
placeholderText = "Click or drag images to upload"
maxSize = 5
fileTypes = ".gif,.jpg,.jpeg,.png"
imageWidth = 100
imageHeight = 100
imageMode = "crop"
modelClass = "RainLab\User\Models\User"
modelKeyColumn = "picture"
identifierValue = "{{ :id }}"
==
<?php
// TODO : registration component!
    function onInit() {
        $user = Auth::getUser();
            if($user){
                $component = $this->addComponent(
                    'NetSTI\Uploader\Components\ImageUploader',
                    'imageUploader',
                    ['modelClass'=>'RainLab\User\Models\User','modelKeyColumn'=>'avatar', 'deferredBinding' => false]
                );
            $component->bindModel('avatar', $user);
        }
    }
?>
==
<!-- Content -->
<main class="content">
    <div class="content__inner">

        <div class="content__left">

            <div class="breadcrumbs">
                <a class="breadcrumbs__item" href="#">Home</a>
                <span class="breadcrumbs__item  active">My profile</span>
            </div>

            <div class="profile">
                <div class="profile__sidebar">

                    {% if user.avatar.path %}
                        <img class="profile__ava" src="{{user.avatar.path}}" width="79" height="79" title="Avatar"
                         alt="Avatar">
                    {% else %}
                        <img class="profile__ava" src="{{'assets/images/user.svg'|theme}}" width="79" height="79" title="Avatar" alt="Avatar">
                    {% endif %}

                    <div class="profile__name">{% if not user.name %}{{ user.email }}{% else %} {{ user.name }}  {{ user.surname }}{% endif %}</div>
                    <div class="profile__block">
                        <p>Name: <b>{{ user.name }}</b></p>
                        <p>Surname: <b>{{ user.surname }}</b></p>
                        <p>E-mail: <b>{{ user.email }}</b></p>
                    </div>

                    <div class="profile__block">
                        <p>Joined: <b>{{ user.created_at| date("m.d.Y") }}</b></p>
                        <p>Last seen: <b>{{ user.last_seen | date("m.d.Y H:i:s")}}</b></p>
                    </div>

                </div>

                {% component 'ProfileForm' %}

                <div class="content__sidebar">
                    <div class="profile__card">
                        <h3 class="content__title">
                            Change Avatar
                        </h3>
                        {% component 'imageUploader' %}
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>