title = "Token sale"
url = "/token-sale"
layout = "platform"
is_hidden = 0

[session]
security = "user"
redirect = "login"

[ProfileForm]

[kyc]
==
<!-- Content -->
<main class="content">
    <div class="content__inner">

        <div class="profile">
            <div class="breadcrumbs">
                <a class="breadcrumbs__item" href="#">Home</a>
                <span class="breadcrumbs__item  active">Token sale</span>
            </div>

            <div class="content__block">
                <div class="profile__card">
                    <div>
                        <h3 class="content__title">Token sale</h3>
                    </div>

                    <div class="tabs" id="tabs2">
                        <div class="tabs__nav  tabs__nav--fill" data-tabs-for="#tabs2" role="tablist">
                            <a class="tabs__nav-item active" href="#tab2-1" role="tab">Investment <= 1000 €</a>
                            <a class="tabs__nav-item" href="#tab2-2" role="tab">Investment >= 1000 €</a>

                        </div>
                        <div class="tabs__content  tabs__content--fill">
                            <div class="tabs__item  active" id="tab2-1" role="tabpanel" style="">
                                <div class="alert  alert--orange">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quae eius excepturi, sunt, veniam praesentium esse vero voluptate possimus recusandae animi adipisci impedit consequatur suscipit labore. Suscipit laudantium, cum numquam!</p>
                                    <button class="alert__button" type="button"><i class="fa fa-close"></i></button>
                                </div>
                                <form data-request-flash data-request-files data-request="onUpdateProfile">
                                    <div class="form__group">
                                        <label for="name">Name * </label>
                                        <input class="input {{ user.name ? '': 'warning' }}" type="text" name="name" id="name" placeholder="" value="{{ user.name }}">
                                    </div>

                                    <div class="form__group">
                                        <label for="surname">Surname *</label>
                                        <input class="input {{ user.surname ? '': 'warning' }}" type="text" name="surname" id="surname" placeholder="" value="{{ user.surname }}">
                                    </div>

                                    <div class="form__group">
                                        <label for="email">Email *</label>
                                        <input class="input {{ user.email ? '': 'warning' }}" type="email" name="email" id="email" placeholder="" value="{{ user.email }}">
                                    </div>

                                    <div class="form__group">
                                        <label for="eth-address">Ethereum Wallet address *</label>
                                        <input class="input {{ user.eth_address ? '': 'warning' }}" type="text" name="eth_address" id="eth-address" placeholder="{{ user.eth_address}}">
                                    </div>

                                    {% set countryId = user.country_id %}
                                    {% set stateId = stateId|default(form_value('state_id')) %}

                                    <label for="country">Country *</label>
                                    <div class="form__group" id="country">
                                        <div class="select {{ countryId ? '': 'warning' }}">
                                            {{
                                            form_select_country('country_id', countryId, {
                                                id: 'accountCountry',
                                                class: 'form-control',
                                                emptyOption: ''
                                            })
                                            }}
                                        </div>
                                    </div>

                                    <button id="min_investment" class="btn  btn--gblue g-recaptcha" type="submit">Update Profile</button>

                                </form>
                            </div>
                            <div class="tabs__item" id="tab2-2" role="tabpanel" style="display: none;">
                                <div class="alert  alert--orange">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quae eius excepturi, sunt, veniam praesentium esse vero voluptate possimus recusandae animi adipisci impedit consequatur suscipit labore. Suscipit laudantium, cum numquam!</p>
                                    <button class="alert__button" type="button"><i class="fa fa-close"></i></button>
                                </div>

                                    <form
                                            data-request="kyc::onVerification"
                                            data-request-flash
                                            data-request-files >

                               <!--  <form action="" method="post" enctype="multipart/form-data"> -->

                                    <div class="form__group">
                                        <label for="name">Name * </label>
                                        <input class="input {{ user.name ? '': 'warning' }}" type="text" name="name" id="name" placeholder="" value="{{ user.name }}">
                                    </div>

                                    <div class="form__group">
                                        <label for="surname">Surname *</label>
                                        <input class="input {{ user.surname ? '': 'warning' }}" type="text" name="surname" id="surname" placeholder="" value="{{ user.surname }}">
                                    </div>

                                    <div class="form__group">
                                        <label for="email">Email *</label>
                                        <input class="input {{ user.email ? '': 'warning' }}" type="email" name="email" id="email" placeholder="" value="{{ user.email }}">
                                    </div>

                                    <div class="form__group">
                                        <label for="eth-address">Ethereum Wallet address *</label>
                                        <input class="input {{ user.eth_address ? '': 'warning' }}" type="text" name="eth_address" id="eth-address" placeholder="{{ user.eth_address}}">
                                    </div>

                                    {% set countryId = user.country_id %}
                                    {% set stateId = stateId|default(form_value('state_id')) %}

                                    <label for="country">Country *</label>
                                    <div class="form__group" id="country">
                                        <div class="select  {{ countryId ? '': 'warning' }}">
                                            {{
                                            form_select_country('country_id', countryId, {
                                                id: 'accountCountry',
                                                class: 'form-control',
                                                emptyOption: ''
                                            })
                                            }}
                                        </div>
                                    </div>

                                    <div class="display-inline-block">
                                        <div class="dropdown-wrapper">
                                            <button class="btn  btn--icon-after  btn--blue" type="button" data-toggle="dropdown">Selfie with document * <i class="fa  fa-angle-down"></i></button>
                                            <ul class="dropdown" data-dropdown="" style="display: none;">
                                                <li>
                                                    <a class="dropdown__link" href="#1">
                                                        <input type="file" style="position: absolute; opacity: 0;" class="js-file" name="files[selfie_with_document]" multiple accept="image/jpg,image/jpeg">
                                                        <i class="fa fa-save"></i> Save this file
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown__link" href="#2"><i class="fa fa-trash"></i> Delete this file</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="display-inline-block">
                                        <div class="dropdown-wrapper">
                                            <button class="btn  btn--icon-after  btn--blue" type="button" data-toggle="dropdown">Document front side *<i class="fa  fa-angle-down"></i></button>
                                            <ul class="dropdown" data-dropdown="" style="display: none;">
                                                <li>
                                                    <a class="dropdown__link" href="#1">
                                                        <input type="file" style="    position: absolute; opacity: 0;" class="js-file" name="files[doc_front_side]" multiple accept="image/jpg,image/jpeg">
                                                        <i class="fa fa-save"></i> Save this file
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown__link" href="#2"><i class="fa fa-trash"></i> Delete this file</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="display-inline-block">
                                        <div class="dropdown-wrapper">
                                            <button class="btn  btn--icon-after  btn--blue" type="button" data-toggle="dropdown">Document back side *<i class="fa  fa-angle-down"></i></button>
                                            <ul class="dropdown" data-dropdown="" style="display: none;">
                                                <li>
                                                    <a class="dropdown__link" href="#1">
                                                        <input type="file" style="    position: absolute; opacity: 0;" class="js-file" name="files[doc_back_side]" multiple accept="image/jpg,image/jpeg">
                                                        <i class="fa fa-save"></i> Save this file
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown__link" href="#2"><i class="fa fa-trash"></i> Delete this file</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="display-block mt-10">
                                        <button id="max_investment" class="btn  btn--gpink" type="submit">Save</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    {#<div class="tabs" id="tabs1">#}
                            {#<div class="tabs__nav" data-tabs-for="#tabs1" role="tablist">#}
                                {#<a class="tabs__nav-item" href="#tab-1" role="tab">Investment <= 1000 €</a>#}
                                {#<a class="tabs__nav-item" href="#tab-2" role="tab">Investment >= 1000 €</a>#}
                            {#</div>#}
                            {#<div class="tabs__content">#}
                                {#<div class="tabs__item  active" id="tab-1" role="tabpanel" style="display: none;">#}
                                    {#<div class="alert  alert--orange">#}
                                        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quae eius excepturi, sunt, veniam praesentium esse vero voluptate possimus recusandae animi adipisci impedit consequatur suscipit labore. Suscipit laudantium, cum numquam!</p>#}
                                        {#<button class="alert__button" type="button"><i class="fa fa-close"></i></button>#}
                                    {#</div>#}
                                    {#<form data-request-flash data-request-files data-request="onUpdateProfile">#}
                                            {#<div class="form__group">#}
                                                {#<label for="name">Name * </label>#}
                                                {#<input class="input {{ user.name ? '': 'warning' }}" type="text" name="name" id="name" placeholder="" value="{{ user.name }}">#}
                                            {#</div>#}

                                            {#<div class="form__group">#}
                                                {#<label for="surname">Surname *</label>#}
                                                {#<input class="input {{ user.surname ? '': 'warning' }}" type="text" name="surname" id="surname" placeholder="" value="{{ user.surname }}">#}
                                            {#</div>#}

                                            {#<div class="form__group">#}
                                                {#<label for="email">Email *</label>#}
                                                {#<input class="input {{ user.email ? '': 'warning' }}" type="email" name="email" id="email" placeholder="" value="{{ user.email }}">#}
                                            {#</div>#}

                                            {#<div class="form__group">#}
                                                {#<label for="eth-address">Ethereum Wallet address *</label>#}
                                                {#<input class="input {{ user.eth_address ? '': 'warning' }}" type="text" name="eth_address" id="eth-address" placeholder="{{ user.eth_address}}">#}
                                            {#</div>#}

                                            {#{% set countryId = user.country_id %}#}
                                            {#{% set stateId = stateId|default(form_value('state_id')) %}#}

                                            {#<label for="country">Country *</label>#}
                                            {#<div class="form__group" id="country">#}
                                                {#<div class="select {{ countryId ? '': 'warning' }}">#}
                                                    {#{{#}
                                                    {#form_select_country('country_id', countryId, {#}
                                                        {#id: 'accountCountry',#}
                                                        {#class: 'form-control',#}
                                                        {#emptyOption: ''#}
                                                    {#})#}
                                                    {#}}#}
                                                {#</div>#}
                                            {#</div>#}

                                            {#<button id="min_investment" class="btn  btn--gblue g-recaptcha" type="submit">Update Profile</button>#}

                                    {#</form>#}
                                {#</div>#}

                                {#<div class="tabs__item" id="tab-2" role="tabpanel" style="display: none;">#}
                                    {#<div class="alert  alert--orange">#}
                                        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quae eius excepturi, sunt, veniam praesentium esse vero voluptate possimus recusandae animi adipisci impedit consequatur suscipit labore. Suscipit laudantium, cum numquam!</p>#}
                                        {#<button class="alert__button" type="button"><i class="fa fa-close"></i></button>#}
                                    {#</div>#}

                                    {#<form data-request-flash data-request-files action="" method="post" enctype="multipart/form-data" >#}
                                        {#<div class="form__group">#}
                                            {#<label for="name">Name * </label>#}
                                            {#<input class="input {{ user.name ? '': 'warning' }}" type="text" name="name" id="name" placeholder="" value="{{ user.name }}">#}
                                        {#</div>#}

                                        {#<div class="form__group">#}
                                            {#<label for="surname">Surname *</label>#}
                                            {#<input class="input {{ user.surname ? '': 'warning' }}" type="text" name="surname" id="surname" placeholder="" value="{{ user.surname }}">#}
                                        {#</div>#}

                                        {#<div class="form__group">#}
                                            {#<label for="email">Email *</label>#}
                                            {#<input class="input {{ user.email ? '': 'warning' }}" type="email" name="email" id="email" placeholder="" value="{{ user.email }}">#}
                                        {#</div>#}

                                        {#<div class="form__group">#}
                                            {#<label for="eth-address">Ethereum Wallet address *</label>#}
                                            {#<input class="input {{ user.eth_address ? '': 'warning' }}" type="text" name="eth_address" id="eth-address" placeholder="{{ user.eth_address}}">#}
                                        {#</div>#}

                                        {#{% set countryId = user.country_id %}#}
                                        {#{% set stateId = stateId|default(form_value('state_id')) %}#}

                                        {#<label for="country">Country *</label>#}
                                        {#<div class="form__group" id="country">#}
                                            {#<div class="select  {{ countryId ? '': 'warning' }}">#}
                                                {#{{#}
                                                {#form_select_country('country_id', countryId, {#}
                                                    {#id: 'accountCountry',#}
                                                    {#class: 'form-control',#}
                                                    {#emptyOption: ''#}
                                                {#})#}
                                                {#}}#}
                                            {#</div>#}
                                        {#</div>#}

                                        {#<div class="display-inline-block">#}
                                            {#<div class="dropdown-wrapper">#}
                                                {#<button class="btn  btn--icon-after  btn--blue" type="button" data-toggle="dropdown">Selfie with document * <i class="fa  fa-angle-down"></i></button>#}
                                                {#<ul class="dropdown" data-dropdown="" style="display: none;">#}
                                                    {#<li>#}
                                                        {#<a class="dropdown__link" href="#1">#}
                                                            {#<input type="file" style="position: absolute; opacity: 0;" class="js-file" name="file[selfie_with_document]" multiple accept="image/jpg,image/jpeg">#}
                                                            {#<i class="fa fa-save"></i> Save this file#}
                                                        {#</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a class="dropdown__link" href="#2"><i class="fa fa-trash"></i> Delete this file</a>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}

                                        {#<div class="display-inline-block">#}
                                            {#<div class="dropdown-wrapper">#}
                                                {#<button class="btn  btn--icon-after  btn--blue" type="button" data-toggle="dropdown">Document front side *<i class="fa  fa-angle-down"></i></button>#}
                                                {#<ul class="dropdown" data-dropdown="" style="display: none;">#}
                                                    {#<li>#}
                                                        {#<a class="dropdown__link" href="#1">#}
                                                            {#<input type="file" style="    position: absolute; opacity: 0;" class="js-file" name="file[doc_front_side]" multiple accept="image/jpg,image/jpeg">#}
                                                            {#<i class="fa fa-save"></i> Save this file#}
                                                        {#</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a class="dropdown__link" href="#2"><i class="fa fa-trash"></i> Delete this file</a>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}


                                        {#<div class="display-inline-block">#}
                                            {#<div class="dropdown-wrapper">#}
                                                {#<button class="btn  btn--icon-after  btn--blue" type="button" data-toggle="dropdown">Document back side *<i class="fa  fa-angle-down"></i></button>#}
                                                {#<ul class="dropdown" data-dropdown="" style="display: none;">#}
                                                    {#<li>#}
                                                        {#<a class="dropdown__link" href="#1">#}
                                                            {#<input type="file" style="    position: absolute; opacity: 0;" class="js-file" name="file[doc_back_side]" multiple accept="image/jpg,image/jpeg">#}
                                                            {#<i class="fa fa-save"></i> Save this file#}
                                                        {#</a>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<a class="dropdown__link" href="#2"><i class="fa fa-trash"></i> Delete this file</a>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}


                                        {#<div class="display-block mt-10">#}
                                            {#<button id="max_investment" class="btn  btn--gpink" type="submit">Save</button>#}
                                        {#</div>#}

                                    {#</form>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
            </div>

            <div class="content__sidebar">
                <div class="profile__card">
                    <h3 class="content__title">Change Avatar</h3>



                </div>

            </div>
        </div>

        {#<div class="grid__row">#}
            {#<div class="grid__col  w3">#}


                {#<div class="form__group">#}
                    {#<input class="input" type="text" name="" placeholder="Default">#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<input class="input" type="text" name="" placeholder="Disabled" disabled>#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<input class="input  success" type="text" name="" placeholder="Success">#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<input class="input  warning" type="text" name="" placeholder="Warning">#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<input class="input  error" type="text" name="" placeholder="Error">#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<div class="input__wrapper  input__wrapper--label">#}
                        {#<label class="input__label" for="">€</label>#}
                        {#<input class="input" type="text" name="" id="" placeholder="">#}
                    {#</div>#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<div class="input__wrapper  input__wrapper--label">#}
                        {#<label class="input__label" for="">€</label>#}
                        {#<input class="input  input--no-radius" type="text" name="" id="" placeholder="">#}
                        {#<label class="input__label">.00</label>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<div class="radio  radio--inline">#}
                        {#<input class="radio__input" type="radio" name="radio_1" id="radio_1">#}
                        {#<label class="radio__label" for="radio_1">#}
                            {#Default#}
                        {#</label>#}
                    {#</div>#}

                    {#<div class="radio  radio--inline">#}
                        {#<input class="radio__input" type="radio" name="radio_2" id="radio_2" disabled>#}
                        {#<label class="radio__label disabled" for="radio_2">#}
                            {#Disabled#}
                        {#</label>#}
                    {#</div>#}

                    {#<div class="radio  radio--inline">#}
                        {#<input class="radio__input" type="radio" name="radio_3" id="radio_3" checked>#}
                        {#<label class="radio__label" for="radio_3">#}
                            {#Checked#}
                        {#</label>#}
                    {#</div>#}

                    {#<div class="radio  radio--inline">#}
                        {#<input class="radio__input" type="radio" name="radio_4" id="radio_4" disabled checked>#}
                        {#<label class="radio__label disabled" for="radio_4">#}
                            {#Checked &amp; disabled#}
                        {#</label>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<div class="checkbox  checkbox--inline">#}
                        {#<input class="checkbox__input" type="checkbox" name="checkbox_1" id="checkbox_1">#}
                        {#<label class="checkbox__label" for="checkbox_1">#}
                            {#Default#}
                        {#</label>#}
                    {#</div>#}

                    {#<div class="checkbox  checkbox--inline">#}
                        {#<input class="checkbox__input" type="checkbox" name="checkbox_2" id="checkbox_2" disabled>#}
                        {#<label class="checkbox__label  disabled" for="checkbox_2">#}
                            {#Disabled#}
                        {#</label>#}
                    {#</div>#}

                    {#<div class="checkbox  checkbox--inline">#}
                        {#<input class="checkbox__input" type="checkbox" name="checkbox_3" id="checkbox_3" checked>#}
                        {#<label class="checkbox__label" for="checkbox_3">#}
                            {#Checked#}
                        {#</label>#}
                    {#</div>#}

                    {#<div class="checkbox  checkbox--inline">#}
                        {#<input class="checkbox__input" type="checkbox" name="checkbox_4" id="checkbox_4" disabled checked>#}
                        {#<label class="checkbox__label  disabled" for="checkbox_4">#}
                            {#Checked &amp; disabled#}
                        {#</label>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<div class="switcher">#}
                        {#<input class="switcher__input" type="checkbox" name="switcher_1" id="switcher_1">#}
                        {#<label class="switcher__label" for="switcher_1"></label>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="grid__col w3">#}


                {#<div class="alert  alert--orange">#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quae eius excepturi, sunt, veniam praesentium esse vero voluptate possimus recusandae animi adipisci impedit consequatur suscipit labore. Suscipit laudantium, cum numquam!</p>#}
                    {#<button class="alert__button" type="button"><i class="fa fa-close"></i></button>#}
                {#</div>#}

                {#<div class="alert  alert--green">#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quae eius excepturi, sunt, veniam praesentium esse vero voluptate possimus recusandae animi adipisci impedit consequatur suscipit labore. Suscipit laudantium, cum numquam!</p>#}
                    {#<button class="alert__button" type="button"><i class="fa fa-close"></i></button>#}
                {#</div>#}

                {#<div class="alert  alert--red">#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quae eius excepturi, sunt, veniam praesentium esse vero voluptate possimus recusandae animi adipisci impedit consequatur suscipit labore. Suscipit laudantium, cum numquam!</p>#}
                    {#<button class="alert__button" type="button"><i class="fa fa-close"></i></button>#}
                {#</div>#}

                {#<div class="progress" role="progressbar">#}
                    {#<div class="progress__bar" style="width: 50%;">50%</div>#}
                {#</div>#}

                {#<div class="progress" role="progressbar">#}
                    {#<div class="progress__bar" style="width: 100%;">Done!</div>#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<span class="mark  mark--red">Mark</span>#}
                    {#<span class="mark  mark--green">Mark</span>#}
                    {#<span class="mark  mark--black">Mark</span>#}
                    {#<span class="mark  mark--purple">Mark</span>#}
                    {#<span class="mark  mark--indigo">Mark</span>#}
                    {#<p>*--gray, *--red, *--pink, *--purple, *--deep-purple, *--indigo, *--blue, *--light-blue, *--cyan, *--teal, *--green, *--light-green, *--lime, *--yellow, *--amber, *--orange, *--deep-orange, *--brown, *--black</p>#}
                {#</div>#}

                {#<div class="form__group">#}
                    {#<form action="/" method="post">#}
                        {#<fieldset class="rating">#}
                            {#<input class="rating__input" type="radio" id="star5" name="rating" value="5" />#}
                            {#<label class="rating__star" for="star5" title="Awesome"></label>#}

                            {#<input class="rating__input" type="radio" id="star4" name="rating" value="4" />#}
                            {#<label class="rating__star" for="star4" title="Good"></label>#}

                            {#<input class="rating__input" type="radio" id="star3" name="rating" value="3" checked />#}
                            {#<label class="rating__star" for="star3" title="Not bad"></label>#}

                            {#<input class="rating__input" type="radio" id="star2" name="rating" value="2" />#}
                            {#<label class="rating__star" for="star2" title="Bad"></label>#}

                            {#<input class="rating__input" type="radio" id="star1" name="rating" value="1" />#}
                            {#<label class="rating__star" for="star1" title="Sucks"></label>#}
                        {#</fieldset>#}
                    {#</form>#}

                    {#<form action="/" method="post">#}
                        {#<fieldset class="rating">#}
                            {#<input class="rating__input" type="radio" id="star10_3" name="rating_3" value="10" />#}
                            {#<label class="rating__star" for="star10_3" title="10"></label>#}

                            {#<input class="rating__input" type="radio" id="star9_3" name="rating_3" value="9" />#}
                            {#<label class="rating__star" for="star9_3" title="9"></label>#}

                            {#<input class="rating__input" type="radio" id="star8_3" name="rating_3" value="8" checked />#}
                            {#<label class="rating__star" for="star8_3" title="8"></label>#}

                            {#<input class="rating__input" type="radio" id="star7_3" name="rating_3" value="7" />#}
                            {#<label class="rating__star" for="star7_3" title="7"></label>#}

                            {#<input class="rating__input" type="radio" id="star6_3" name="rating_3" value="6" />#}
                            {#<label class="rating__star" for="star6_3" title="6"></label>#}

                            {#<input class="rating__input" type="radio" id="star5_3" name="rating_3" value="5" />#}
                            {#<label class="rating__star" for="star5_3" title="5"></label>#}

                            {#<input class="rating__input" type="radio" id="star4_3" name="rating_3" value="4" />#}
                            {#<label class="rating__star" for="star4_3" title="4"></label>#}

                            {#<input class="rating__input" type="radio" id="star3_3" name="rating_3" value="3" />#}
                            {#<label class="rating__star" for="star3_3" title="3"></label>#}

                            {#<input class="rating__input" type="radio" id="star2_3" name="rating_3" value="2" />#}
                            {#<label class="rating__star" for="star2_3" title="2"></label>#}

                            {#<input class="rating__input" type="radio" id="star1_3" name="rating_3" value="1" />#}
                            {#<label class="rating__star" for="star1_3" title="1"></label>#}
                        {#</fieldset>#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}

            {#<div class="grid__col  w3">#}
                {#<div class="form__group">#}
                    {#<textarea class="textarea" name="" placeholder="Textarea"></textarea>#}
                {#</div>#}
                {#<div class="form__group">#}
                    {#<div class="select">#}
                        {#<select name="">#}
                            {#<option value="1">Option 1</option>#}
                            {#<option value="2">Option 2</option>#}
                        {#</select>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="form__group">#}
                    {#<div class="select  select--multiple">#}
                        {#<select name="" multiple>#}
                            {#<option value="1">Option 1</option>#}
                            {#<option value="2">Option 2</option>#}
                            {#<option value="3">Option 3</option>#}
                            {#<option value="4">Option 4</option>#}
                            {#<option value="5">Option 5</option>#}
                            {#<option value="6">Option 6</option>#}
                        {#</select>#}
                    {#</div>#}
                {#</div>#}

                {#<button class="btn  btn--gblack" type="button">Black Button</button>#}
                {#<button class="btn  btn--gpink" type="button">Pink Button</button>#}
                {#<button class="btn  btn--gblue" type="button">Blue Button</button>#}
                {#<button class="btn  btn--pink  btn--ellipse" type="button">Filled Pink Ellipse</button>#}
                {#<button class="btn" type="button" disabled>Disabled</button>#}

                {#<div class="dropdown-wrapper">#}
                    {#<button class="btn  btn--icon-after  btn--blue" type="button" data-toggle="dropdown">Dropdown on left <i class="fa  fa-angle-down"></i></button>#}
                    {#<ul class="dropdown" data-dropdown>#}
                        {#<li>#}
                            {#<a class="dropdown__link" href="#1"><i class="fa fa-save"></i> Save this file</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a class="dropdown__link" href="#2"><i class="fa fa-trash"></i> Delete this file</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}

                {#<div class="dropdown-wrapper">#}
                    {#<button class="btn  btn--icon-after  btn--blue" type="button" data-toggle="dropdown">Dropdown on right <i class="fa  fa-angle-down"></i></button>#}
                    {#<ul class="dropdown  dropdown--right" data-dropdown>#}
                        {#<li>#}
                            {#<a class="dropdown__link" href="#1">Save this file <i class="fa fa-save"></i></a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a class="dropdown__link" href="#2">Delete this file <i class="fa fa-trash"></i></a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}

                {#<div class="dropdown-wrapper">#}
                    {#<button class="btn  btn--icon-after  btn--blue" type="button" data-toggle="dropdown">Full Width Dropdown <i class="fa  fa-angle-down"></i></button>#}
                    {#<ul class="dropdown  dropdown--full" data-dropdown>#}
                        {#<li>#}
                            {#<a class="dropdown__link" href="#1"><i class="fa fa-save"></i> Save this file</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a class="dropdown__link" href="#2"><i class="fa fa-trash"></i> Delete this file</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}


                {#<a class="btn  btn--green" href="#" data-toggle="remodal" data-target="#my-modal">Call Modal</a>#}
                {#<div class="remodal" id="my-modal" role="dialog">#}
                    {#<button data-remodal-action="close" class="remodal-close"></button>#}
                    {#<h1>Modal</h1>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eveniet laboriosam architecto reiciendis pariatur maxime aliquam vero delectus, id in commodi magni. Cumque aut ut optio repellendus nesciunt velit iure.</p>#}
                    {#<br>#}
                    {#<button data-remodal-action="cancel" class="btn  btn--deep-orange">Cancel</button>#}
                    {#<button data-remodal-action="confirm" class="btn  btn--green">OK</button>#}
                {#</div>#}
            {#</div>#}

        {#</div>#}

    </div>
</main>