==
<head>
    <meta charset="utf-8">
    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">

    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CryptoPolice is first community based cryptocurrency police on blockchain">
    <meta name="keywords" content="Crypto Police, CryptoPolice.io, blockchain, cryptocurrency, ico">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <!--<link rel="icon" type="image/png" href="{{ 'assets/images/favicons/favicon-16x16.png'|theme }}">-->
    <link href="{{ 'assets/css/style.css?v1.1'|theme }}" rel="stylesheet">
    {% styles %}

    <!-- Favicons for all devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicons/apple-touch-icon.png'|theme }}">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicons/favicon-32x32.png'|theme }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicons/favicon-16x16.png'|theme }}" sizes="16x16">
    <link rel="manifest" href="{{ 'assets/images/favicons/manifest.json'|theme }}">
    <link rel="mask-icon" href="{{ 'assets/images/favicons/safari-pinned-tab.svg'|theme }}" color="#5bbad5">
    <meta property="image" content="{{ 'https://cryptopolice.io/assets/images/police-hat-logo.png'|app }}"/>


</head>