<div class="breadcrumbs">
    <a class="breadcrumbs__item" href="{{'bounty-campaign'|page}}">Home</a>
    <span class="breadcrumbs__item  active">ReportDetails</span>
</div>

<div class="card">

    {% for field in ReportDetails.report.description %}
        <div class="card__header"> <strong> {{ field.title|replace({'_': ' '}) }} </strong> </div>
        <div class="card__content"> {{ field.value }} </div>
    {% endfor %}

    <div class="card__footer">
        <div class="card__footer-left">
            <ul class="card__ava-list">
                <li class="card__ava  card__ava--author">
                    {% if not ReportDetails.report.name %} {{ ReportDetails.report.email }} {% else %} {{ ReportDetails.report.name }} {% endif %}
                </li>
            </ul>
        </div>
        <div class="card__footer-right">
            <div class="card__date">{{ ReportDetails.report.created_at }}</div>
        </div>
    </div>
    {% if ReportDetails.report.status == 1 %}
        <div class="card__status  low"></div>
    {% elseif ReportDetails.report.status == 2%}
        <div class="card__status  high"></div>
    {% else %}
        <div class="card__status  medium"></div>
    {% endif %}
</div>

<hr>

<div class="card">
    <div class="card__header"></div>
    <div class="card__content"> {{ ReportDetails.report.comment|raw }}</div>
    <div class="card__footer">
        <div class="card__footer-left">
            <ul class="card__ava-list">
                <li class="card__ava  card__ava--author">
                    Reward
                </li>
                <li class="card__ava">
                    {{ ReportDetails.report.given_reward }}
                </li>
            </ul>
        </div>
    </div>
</div>


