{% set trainings = __SELF__.trainings %}

{% if this.param.slug %}

    <ul class="courses">
        {% for training in trainings %}
        <li class="courses__item">
            <a class="courses__link watched" href="{{ 'training-open'|page({slug: training.slug}) }}">
                <span class="courses__num">#<b>{{ loop.index }}</b></span>
                <span class="courses__title">{{ training.title }}</span>
            </a>
        </li>
        {% else %}
        <li class="courses__item"><h4 class="content__title">Nothing here</h4></li>
        {% endfor %}
    </ul>

{% else%}

    <ul class="courses">
        {% for trainingcat in trainings %}
        <li class="courses__item">
            <a class="courses__link watched" href="{{ 'trainings'|page({slug: trainingcat.slug}) }}">
                <span class="courses__num">#<b> {{ loop.index }}</b></span>
                <span class="courses__title">{{ trainingcat.title }}</span>
            </a>
        </li>
        {% else %}
        <li class="courses__item"><h4 class="content__title">Nothing here...</h4></li>
        {% endfor %}
    </ul>

{% endif %}

{% if trainings|length == 10 %}
    <div class="courses__footer">
        <a class="btn" href="{{ trainings.previousPageUrl|raw }}">previous section</a>
        <a class="btn" href="{{ trainings.nextPageUrl|raw }}">next section</a>
    </div>
    <div class="courses__pages">{{ trainings.currentPage|raw }}/{{ trainings.lastPage|raw }}</div>
{% endif %}