description = "Platform Layout"

[session]
security = "all"
==

<!DOCTYPE html>
<html>
    
    {% partial 'platform/head' %}
    
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5V6P9PR" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="page">

            <!-- Header -->
            {% partial 'platform/header' %}
             
            <!-- Sidebar -->
            {% partial 'platform/sidebar' %}
    
            <!-- Content -->
            {% page %}

            <!-- Footer -->
            {% partial 'platform/footer' %}
         
            <!-- Scripts -->
            <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
            <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
            <script src="{{ 'assets/javascript/reCaptcha.js'|theme }}"></script>
            <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
            <script src="{{ 'assets/javascript/platform-main.js'|theme }}"></script>
            <script src="{{ 'assets/javascript/platform-custom.js'|theme }}"></script>

            {% framework extras %}
            {% scripts %}
        </div>
    </body>
    
</html>