<div class="profile__content">
    <div class="content__block">

        {% partial __SELF__ ~ '::personal-data-update' %}

        {% partial __SELF__ ~ '::personal-social-update' %}
        
        {% partial __SELF__ ~ '::personal-eth-update' %}

    </div>
</div>