{% set trainings = __SELF__.trainingsUnc %}
<ul class="courses">
    {% for training in trainings %}
        <li class="courses__item">
            <a class="courses__link watched" href="{{ 'training-open'|page({slug: training.slug}) }}">
                <span class="courses__num">#<b>{{ training.id }}</b></span>
                <span class="courses__title">{{ training.title }}</span>
                {{training.likes}}
            </a>
        </li>
    {% else %}
    <li class="courses__item">
        <a class="courses__link  watched" href="{{ 'training'|page}}">
            <span class="courses__num"><b> ... </b></span>
            <span class="courses__title">No Found</span>
        </a>
    </li>
    {% endfor %}
    <div class="courses__footer">
        <a class="btn" href="{{ trainings.previousPageUrl|raw }}">previous section</a>
        <a class="btn" href="{{ trainings.nextPageUrl|raw }}">next section</a>
    </div>
    <div class="courses__pages">{{ trainings.currentPage|raw }}/{{ trainings.lastPage|raw }}</div>
</ul>