==
<!-- Header -->
<header class="header">
    <a class="header__logo" href="{{'index'|page}}">
        <img src="{{'assets/images/cryptopolice-logo.png'|theme}}" width="124" alt="CryptoPolice">
    </a>

    <div class="header__inner">

        <div class="header__nav" id="profile">
            <a class="header__ava" href="{{'profile'|page}}">
                {% if user.avatar.path %}
                <img src="{{user.avatar.path}}" width="23" height="23" alt="user-avatar">
                {% else %}
                <img class="header__ava" src="{{'assets/images/user.svg'|theme}}" width="30" height="30"
                     alt="user-avatar">
                {% endif %}
            </a>
            <a class="header__name" href="{{'profile'|page}}">{% if not user.name %}{{ user.email }}{% else %} {{ user.name }} {% endif %}</a>

            <!--<a class="header__nav-item" href="#">-->
                <!--<img src="{{'assets/images/wallet-ico.png'|theme}}" width="20" height="19" alt="">-->
            <!--</a>-->

            <!--<a class="header__nav-item" href="#">-->
                <!--<span class="header__mails-count">2</span>-->
                <!--<img src="{{'assets/images/mail-ico.png'|theme}}" width="20" height="19" alt="">-->
            <!--</a>-->

            <a class="header__nav-item" href="https://support.cryptopolice.com" target="_blank">
                <i class="fa fa-life-ring header-icon" aria-hidden="true" ></i>
            </a>

            <div class="dropdown-wrapper">
                <button class="btn  btn--dropdown  text-l" type="button" data-toggle="dropdown">
                    <i class="fa fa-cog header-icon"></i>
                </button>
                <ul class="dropdown  dropdown--right" data-dropdown>
                    <li>
                        <a class="dropdown__link" href="{{ 'profile'|page }}"><i class="fa fa-save"></i> Settings </a>
                    </li>
                </ul>
            </div>

            <a class="header__nav-item" data-request="onLogout" data-request-flash data-request-data="redirect: '/login'">
                <i class="fa fa-sign-out header-icon" aria-hidden="true"></i>
            </a>


        </div>

        <div class="header__mob">
            <a href="{{'profile'|page}}" id="profile_toggle">
                <img src="{{'assets/images/user.svg'|theme}}" width="23" alt="User Name">
            </a>
            <a href="#" id="search_toggle">
                <img src="{{'assets/images/search.svg'|theme}}" width="23" alt="Search">
            </a>
            <a href="#" id="sidebar_toggle">
                <img src="{{'assets/images/menu.svg'|theme}}" width="25" alt="Navigation">
            </a>
        </div>

        <!--<form class="header__search" action="/" method="post" id="search">-->
            <!--<input class="header__search-input" type="text" name="search" placeholder="Search">-->
        <!--</form>-->

    </div>
</header>