{% set statistic = UsersCampaign.profileStatistic %}

<div class="profile__sidebar">
    <a href="{{ 'profile'|page }}">
    {% if user.avatar.path %}
      <img class="profile__ava" src="{{user.avatar.path}}" width="79" height="79" title="Avatar" alt="Avatar">
    {% else %}
        <img class="profile__ava" src="{{'assets/images/user.svg'|theme}}" width="79" height="79" title="Avatar" alt="Avatar">
    {% endif %}
    </a>

    <div class="profile__name">
        {% if not user.name %} {{ user.email }} {% else %} {{ user.name }} {{ user.surname }} {% endif %}
    </div>

    <div class="profile__block">
        <p> Balance: <b> {{ statistic.reward_sum }} OFC </b></p>
    </div>

    <div class="profile__block">
        <p> Statistics: </p>
        <div class="profile__block-item">
            <p> Total reports: <b> {{ statistic.report_count }} </b></p>
            <div class="profile__stat">
                <div class="stat__pie  stat__pie--big" data-circle="" data-color="#8f78db" data-empty="#c6bbec" data-value="{{ ( statistic.report_count / 10 * statistic.pending ) }}" data-size="60" data-thickness="10">
                    <canvas width="60" height="60"></canvas>
                </div>
                <ul class="profile__stat-list">
                    <li class="purple"> Pending: <b> {{ statistic.pending}} </b></li>
                    <li class="light-purple"> Approved: <b> {{ statistic.approved}} </b></li>
                    <li class="light-purple"> Disapproved: <b> {{ statistic.disapproved }} </b></li>
                </ul>
            </div>
        </div>
    </div>
</div>