<!-- Filters-->
<div class="content__header">
    <div class="select  select--filter">
        <select data-request="onFilterCampaignReports" data-request-update="'UsersCampaign::campaign-reports-filtered': '#campaign_reports'" name="status">
            <option value="" selected>All</option>
            <option value="1">Approved</option>
            <option value="2">Disapproved</option>
        </select>
    </div>
</div>
<!-- End Filters -->

<div id="campaign_reports">
    {% partial 'UsersCampaign::campaign-reports-filtered' %}
</div>
