<!-- Bounty Report list -->
<div id="report_list">
    <h3 class="content__title"> Bounty Reports</h3>
    <div class="issues">
        {% for report in UsersCampaign.campaignReports.bountyReports %}
                <div class="issues__item  issues__item--history">

                    <div class="issues__type">#{{ loop.index }}</div>

                    <div class="issues__title">  Report to {{ UsersCampaign.campaignReports.title }} campaign</div>
                    <div class="issues__view">
                        <a href="{{'bounty-report'|page({ id: report.id })}}">View details</a>
                    </div>
                    <div class="issues__amount">
                        <span class="text-orange">  {% if report.given_reward %} {{ report.given_reward }} {% else %} 0 {% endif %}</span>
                    </div>

                    {% if report.report_status == 0 %}
                        <div class="issues__status  issues__status--big  issues__status--orange">
                            <span>pending</span>
                        </div>
                    {% elseif report.report_status == 1 %}
                        <div class="issues__status  issues__status--big  issues__status--green">
                            <span>approved</span>
                        </div>
                    {% else %}
                        <div class="issues__status  issues__status--big  issues__status--gray">
                            <span>disapproved</span>
                        </div>
                    {% endif %}
                </div>

        {% else %}
            <div class="issues__item  issues__item--history">
                Not found
            </div>
        {% endfor%}
    </div>
</div>
<!-- End bounty report list -->