<!--Campaign Section-->
{% set flag = true %}
{% for bounty in Bounties.bountyList %}

    <!-- selected Bounty Campaign -->
    {% if bounty.slug == this.param.slug %}
    {% set flag = false %}
        <div class="tabs" id="tabs1">
            <div class="tabs__nav" data-tabs-for="#tabs1" role="tablist">
                <a class="tabs__nav-item  active" href="#tab-1" role="tab"> {% if UsersCampaign.access is empty %} Registration {% else %} Report {% endif %} </a>
                <a class="tabs__nav-item" href="#tab-2" role="tab">Report List</a>
            </div>

            <div class="tabs__content">

                <!-- Tab 1 Rules, Registration & Report forms -->
                <div class="tabs__item  active" id="tab-1" role="tabpanel">
                    <div class="profile__card  mb-15">
                        <h2>{{bounty.title|upper}} CAMPAIGN</h2>
                        <div class="stat__item">
                            <div class="stat__pie  stat__pie--red" data-circle="" data-color="#f67982" data-empty="#ffffff" data-value="{{bounty.percentage / 100 }}" data-size="34" data-thickness="6"><canvas width="34" height="34"></canvas></div>
                            <div class="stat__counter">{{bounty.percentage}}%</div>
                            <div class="stat__text">Reward amount {{ (20000000 / 100 * bounty.percentage)|number_format(0, '.', ',') }}  OFC </div>
                        </div>
                        <p>{{ bounty.description|raw}}</p>
                    </div>

                    <div class="profile__card">
                        {% if UsersCampaign.access is empty %}
                            {% partial 'UsersCampaign::bounty-registration-form' %}
                        {% else %}
                            {% partial 'UsersCampaign::bounty-report-form' %}
                        {% endif %}
                    </div>
                </div>

                <!-- Tab 2 Reports list in current campaign -->
                <div class="tabs__item" id="tab-2" role="tabpanel">
                    {% partial 'UsersCampaign::campaign-reports' %}
                </div>

            </div>
        </div>
    {% endif %}
{% endfor %}
<!-- End Campaign Section-->


<!-- User Section-->
{% if flag == true %}

    <!-- Tab 2 Users reports -->
    {% partial 'UsersCampaign::users-reports' %}
{% endif %}
<!-- End User Section-->


<!--Hack with flash notification, remove text rendering before flash message -->
{% if active is empty %}
    <div style="display:none;">
        {% flash %}
        <p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="5"> {{ message }} </p>
        {% endflash %}
    </div>
{% endif %}