<!-- Filters-->
<div class="content__header">
    <form data-request="onFilterReports"  data-request-update="'UsersCampaign::users-reports-filtered': '#users_reports'" id="filter">
        <div class="select  select--filter">
            <select name="campaign_type">
                <option selected="">Bounties</option>
                {% for bounty in Bounties.bountyList %}
                <option class="dropdown__link" value="{{bounty.id}}">{{bounty.title}}</option>
                {% endfor %}
            </select>
        </div>


        <div class="select  select--filter">
            <select name="status">
                <option class="dropdown__link"  value="" selected>Status</option>
                <option class="dropdown__link"  value="1">Approved</option>
                <option class="dropdown__link" value="2">Disapproved</option>
            </select>
        </div>

        <input type="submit" class="btn bounty-filter" value="Filter">

    </form>
</div>
<!-- End Filters-->

<div id="users_reports">
    {% partial 'UsersCampaign::users-reports-filtered' %}
</div>


